{% extends "base.html.twig" %}

{% block body %}
<div>
    {% if messages|length > 0 %}
        {% for message in messages|slice(0, limit) %}
            <div>{{ message.message }}</div>
            <div style="color: gray;">
            {% if date(message.created) < date('-1year') %}
                Older that 1 year
            {% else %}
                {{ message.created|date('d/m/Y') }}
            {% endif %}
            </div>
        {% endfor %}
    {% else %}
        There is nothing to show.
    {% endif %}
    
</div>
{% endblock %}

{% block title %} I've changed the title! {% endblock %}
